<div class="container">
  <%= render "shared/display_infosevent" %>
  <%= render "shared/display_infosmonument" %>
  <%= render "shared/display_infospersonality" %>
  <div class="row" id="personalities-row">
    <div class="col-sm-2 overflow-auto">
      <div class="cards" style="width: max-content;">
        <% @personalities.each do |personality| %>
          <div class="card-trip">
            <a data-bs-toggle="offcanvas" href="#infospersonality<%= personality.id%>" role="button" aria-controls="offcanvasExample">
              <% if personality.photo.attached? %>
                <%= image_tag personality.photo, class: "avatar", alt: personality.fullname, title: personality.fullname %>
              <% else %>
                <%= image_tag "no-perso.jpg", class: "avatar", alt: personality.fullname, title: personality.fullname %>
              <% end %>
            </a>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-sm-4"></div>
    <div class="search-row col-sm-3" >
      <div style="width: 120px;">
        <%= render "shared/searchbar" %>
      </div>
    </div>
  </div>

  <div class="row" id="map-row">

    <div class="box-legend col">
      <div class="row">
        <div class="col-md-12">
          <%= render "shared/timeline" %>
        </div>
      </div>
    </div>

    <div class="box-map col-sm-8" data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-polygon-value="<%= @polygon.to_json%>"
        data-map-markersevent-value="<%= @markersevent.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      <div id='map' style="width: 100%; height: 600px;" data-map-target="displaymap"></div>
      <% if user_signed_in? %>
        <%= render "shared/button_add" %>
      <% end %>
      <div>
        <%= render "shared/button_filter" %>
      </div>
    </div>
  </div>
</div>
