<div class="container">
  <%= render "shared/display_infosevent" %>
  <%= render "shared/display_infosmonument" %>
  <div class="row" id="personalities-row">
    <div class="cards col-sm-6">
      <% @personalities.each do |personality|  %>
        <div class="card-trip">
          <a class="avatar" href="<%= personality.wikipedia_url %>" target="_blank">
            <%= image_tag "https://i.pinimg.com/280x280_RS/78/8f/03/788f0311f79553a27796ca41a91df633.jpg", class: "avatar", alt: personality.fullname, title: personality.fullname %>
          </a>
        </div>
      <% end %>
    </div>

    <div class="search-row col-sm-3">
      <%= render "shared/searchbar" %>
    </div>
  </div>

  <div class="row" id="map-row">

    <div class="box-legend col">
      <div class="row">
        <div class="col-md-12">
          <%= render "shared/timeline" %>
        </div>
      </div>
    </div>

    <div class="box-map col-sm-8">
      <div style="width: 100%; height: 600px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-polygon-value="<%= @polygon.to_json%>"
        data-map-markersevent-value="<%= @markersevent.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
      <% if user_signed_in? %>
        <%= render "shared/button_add" %>
      <% end %>
    </div>
  </div>
</div>
