
<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-pending-collapse<%=marker_type.capitalize%>" aria-expanded="false" aria-controls="flush-pending-collapse<%=marker_type.capitalize%>">
      <%= title %>
    </button>
  </h2>
  <div id="flush-pending-collapse<%=marker_type.capitalize%>" class="accordion-collapse collapse" data-bs-parent="#accordionFlushMarkerExample">
    <div class="accordion-body">
        <% markers.each do |marker| %>
          <strong><%= link_to marker.name, period_path(marker.period_id) %></strong><br>
          <p id="marker-period"><%= marker.period.name %></p>
        <% end %>
    </div>
  </div>
</div>
