
<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-pending-collapse<%=marker_type.capitalize%>" aria-expanded="false" aria-controls="flush-pending-collapse<%=marker_type.capitalize%>">
      <%= title %>
    </button>
  </h2>
  <div id="flush-pending-collapse<%=marker_type.capitalize%>" class="accordion-collapse collapse" data-bs-parent="#accordionFlushPendingExample">
    <div class="accordion-body">
      <% markers.each do |marker| %>
        <strong><%= marker.name %></strong><br>
        <p id="marker-period"><%= marker.period.name %></p>
        <% if marker.progress == 0 %>
          <p id="text-no-vote"><em>En attente des premiers votes</em></p>
          <% else %>
          <div class="progress" role="progressbar" aria-label="Success striped example" aria-valuenow="5" aria-valuemin="0" aria-valuemax="10">
            <div class="progress-bar progress-bar-striped progress-bar-animated <%= marker.progress > 0 ? "bg-success" : "bg-danger" %>" style="width: <%= (6.67*(marker.progress + 5))%>%"><strong><%= marker.progress %>/10</strong></div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
