
<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-pending-collapse<%=marker_type.capitalize%>" aria-expanded="false" aria-controls="flush-pending-collapse<%=marker_type.capitalize%>">
      <%= title %>
    </button>
  </h2>
  <div id="flush-pending-collapse<%=marker_type.capitalize%>" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <ul>
        <% markers.each do |marker| %>
          <li><strong><%= link_to marker.name, approvals_path %></strong></li>
            <div class="progress" role="progressbar" aria-label="Success striped example" aria-valuenow="5" aria-valuemin="0" aria-valuemax="10">
              <div class="progress-bar progress-bar-striped progress-bar-animated <%= marker.progress > 0 ? "bg-success" : "bg-danger" %>" style="width: <%= (marker.progress)*10 %>%"></div>
            </div>
          <%= marker.progress %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
