<% @period.events.each do |event| %>
  <div class="offcanvas offcanvas-start" tabindex="-1" id="infosevent<%= event.id %>" aria-labelledby="infoseventLabel">
    <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="infoseventLabel"><%= event.name %></h5>

      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <img src="https://upload.wikimedia.org/wikipedia/commons/2/29/Battle_of_Hondschoote.jpg" alt="" class="img-form">
    <div class="offcanvas-body">
      <div>
        <% @start_date = "#{event.start_day}-#{event.start_month}-#{event.start_year}" %>
        <% @end_date = "#{event.end_day}-#{event.end_month}-#{event.end_year}" %>
        <% if @start_date == @end_date %>
          <p><i>Date : <%= @start_date %></i></p>
        <% else %>
          <p><i>Date : du <%= @start_date %> au <%= @end_date %></i></p>
        <% end %>

        <p><%= event.description %><p>
        <p><%= link_to "<i class='fa-brands fa-wikipedia-w'></i>".html_safe, event.wikipedia_url %> <%= link_to "<i class='fa-brands fa-youtube'></i>".html_safe, event.youtube_url %></p>
        <p><em><small>Marqueur ajouté par <%= event.user.nickname %> le <%= event.created_at.strftime('%d/%m/%Y') %></small></p></em>
      </div>
    </div>
  </div>
<% end %>
