<% @period.personalities.each do |personality| %>
  <div class="offcanvas offcanvas-start infos-personality" tabindex="-1" id="infospersonality<%= personality.id%>" aria-labelledby="infospersonalityLabel">
    <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="infospersonalityLabel"><strong><%= personality.fullname %></strong></h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <% if personality.photo.attached? %>
      <%= image_tag personality.photo, class:"photo-marker" %>
      <% else %>
       <%= image_tag "no-perso.jpg", class:"photo-marker" %>
    <% end %>
    <div class="offcanvas-body">
      <div>
        <p><%= personality.description %><p>
        <p><%= link_to "<i class='fa-brands fa-wikipedia-w'></i>".html_safe, personality.wikipedia_url, target: "_blank" %></p>
        <p><em><small>Personnage ajouté par <strong><%= personality.user.nickname %></strong> le <%= personality.created_at.strftime('%d/%m/%Y') %></small></p></em>
      </div>
    </div>
  </div>
<% end %>
