<% @period.events.each do |event| %>
  <div class="offcanvas offcanvas-start infos-event" tabindex="-1" id="infosevent<%= event.id %>" aria-labelledby="infoseventLabel">
    <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="infoseventLabel"><strong><%= event.name %></strong></h5>

      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
      <% if event.photo.attached? %>
        <%= image_tag event.photo, class:"photo-marker" %>
      <% else %>
        <img src="https://www.francebleu.fr/s3/cruiser-production/2018/06/4464e217-892f-4b79-8bea-099e2c146667/1200x680_gettyimages-526742236.jpg" alt="" class="photo-marker">
      <% end %>
    <div class="offcanvas-body">
      <div>
        <% @start_date = "#{event.start_day}-#{event.start_month}-#{event.start_year}" %>
        <% @end_date = "#{event.end_day}-#{event.end_month}-#{event.end_year}" %>
        <% if @start_date == @end_date %>
          <p><i>Date : <%= @start_date %></i></p>
        <% else %>
          <p><i>Date : du <%= @start_date %> au <%= @end_date %></i></p>
        <% end %>

        <p><%= event.description %><p>
        <p><%= link_to "<i class='fa-brands fa-wikipedia-w'></i>".html_safe, event.wikipedia_url %> <%= link_to "<i class='fa-brands fa-youtube'></i>".html_safe, event.youtube_url %></p>
        <p><em><small>Marqueur ajouté par <strong><%= event.user.nickname %></strong> le <%= event.created_at.strftime('%d/%m/%Y') %></small></p></em>
      </div>
    </div>
  </div>
<% end %>
