<%= simple_form_for [@period, @personality], html: { autocomplete: 'off' } do |f| %>
  <%= f.input :fullname, label: "Nom" %>
  <div class="row">
    <%= f.label "Né(e) le" %>
    <div class="col">
      <%= f.input :birth_day, placeholder: "Jour", label: false %>
    </div>
    <div class="col">
      <%= f.input :birth_month, prompt: "Mois", label: false,  collection: ([["Janvier", 1], ["Février", 2], ["Mars", 3], ["Avril", 4], ["Mai", 5], ["Juin", 5], ["Juillet", 7], ["Aout", 8], ["Septembre", 9], ["Octobre", 10], ["Novembre", 11], ["Décembre", 12] ]) %>
    </div>
    <div class="col">
      <%= f.input :birth_year, placeholder: "Année", label: false %>
    </div>
  </div>
  <div class="row">
    <%= f.label "Décède le" %>
    <div class="col">
      <%= f.input :death_day, placeholder: "Jour", label: false %>
    </div>
    <div class="col">
      <%= f.input :death_month, prompt: "Mois", label: false, collection: ([["Janvier", 1], ["Février", 2], ["Mars", 3], ["Avril", 4], ["Mai", 5], ["Juin", 5], ["Juillet", 7], ["Aout", 8], ["Septembre", 9], ["Octobre", 10], ["Novembre", 11], ["Décembre", 12] ]) %>
    </div>
    <div class="col">
      <%= f.input :death_year, placeholder: "Année", label: false %>
    </div>
  </div>
  <%= f.input :description %>
  <%= f.input :wikipedia_url %>
  <%= f.input :photo, as: :file %>
  <%= f.submit 'Ajouter un personnage', class: "btn btn-devise" %>
  <% end %>
