<div class="form">
  <%= simple_form_for [@period, @monument] do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description %>
    <%= f.input :wikipedia_url %>
    <%= f.input :google_earth_url %>
    <%= f.submit 'Create a monument' %>
    <% end %>
</div>
