<%= simple_form_for [@period, @personality] do |f| %>
  <%= f.input :fullname, label: "Nom" %>
  <div class="row">
    <%= f.label "Né(e) le" %>
    <div class="col">
      <%= f.input :birth_day, placeholder: "Jour", label: false %>
    </div>
    <div class="col">
      <%= f.input :birth_month, placeholder: "Mois", label: false %>
    </div>
    <div class="col">
      <%= f.input :birth_year, placeholder: "Année", label: false %>
    </div>
  </div>
  <div class="row">
    <%= f.label "Décède le" %>
    <div class="col">
      <%= f.input :death_day, placeholder: "Jour", label: false %>
    </div>
    <div class="col">
      <%= f.input :death_month, placeholder: "Mois", label: false %>
    </div>
    <div class="col">
      <%= f.input :death_year, placeholder: "Année", label: false %>
    </div>
  </div>
  <%= f.input :description %>
  <%= f.input :wikipedia_url %>
  <%= f.submit 'Ajouter un personnage' %>
  <% end %>
