<div class="form">
  <%= simple_form_for [@period, @monument] do |f| %>
    <%= f.input :name %>
    <%= f.input :address,
  input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
  wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}} %>
    <%= f.input :description %>
    <%= f.input :wikipedia_url %>
    <%= f.input :google_earth_url %>
    <%= f.submit 'Create a monument' %>
    <% end %>
</div>
