<div class="main-timeline" data-controller="scroll">

  <% Period.all.order(:start_date).each do |period| %>
    <div class="timeline">
      <div class="timeline-content">
        <div class="circle <%= "active" if params[:id].to_i == period.id %>">
          <span class="homebox">
            <% if period.photo.attached? %>
              <%= image_tag period.photo, class: "img"%>
            <% else %>
              <%= image_tag "no-event.jpg", class: "img"%>
            <% end %>
          </span>
        </div>

        <div class="content">
            <%= link_to period.name, period_path(period,  anchor: "#{period.id}"), id: "#{period.id}", class:"year" %>
            <h3 class="title h4"><%=period.start_date.strftime('%Y')%>-<%=period.end_date.strftime('%Y')%></h3>
        </div>
      </div>
    </div>
  <% end %>
</div>
